@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --background-color: theme("colors.zinc.900");
  --text-color: theme("colors.zinc.200");
  --active-background-color: theme("colors.zinc.800");
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
